
.one{
	border:15px solid blue;
	padding:50px;
	background-color:lightblue;
	width:300px;
	margin:20px;
}
.container{
	padding:50px;
	border:15px solid rgb(0, 0, 255);
	background-color:rgb(173, 216, 230);
	width:300px;
}
